doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header

      .play-table-global

        .play-table
          .playcard-slots
            .playcard-slot
              .playcard.playcard-middle.playcard-trefle A
            .playcard-slot
              .playcard.playcard-middle.playcard-hearts K
            .playcard-slot
            .playcard-slot
            .playcard-slot


          .pile(style="left: 340px; top: 270px;")
            .pile-icon
            .pile-value 2500
          .pile(style="left: 250px; top: 110px;")
            .pile-icon
            .pile-value 1500
          .pile(style="left: 490px; top: 110px;")
            .pile-icon
            .pile-value 500


          .player-card.type-up.direction-left
            .player-name Denis Panfilov
            .player-credits 1 000K
            .pile-icon
            .pile-value 2500

          .player-card.type-up-left.direction-left
            .player-name Max Kharchenko
            .player-credits 15 000K
            .pile-icon
            .pile-value 2500

          .player-card.type-center-left.direction-left
            .player-name James Bond
            .player-credits 3 500K
            .pile-icon
            .pile-value 2500

          .player-card.type-bottom-left.direction-left
            .player-name Dr.Lecter
            .player-credits 10 500K
            .pile-icon
            .pile-value 2500

          .player-card.type-bottom-center-left.direction-left
            .player-name Breat Maverick
            .player-credits 7 500K
            .pile-value 0

          .player-card.type-bottom-center-right

          .player-card.type-bottom-right.direction-right
            .player-name Marge Simpson
            .player-credits 17 500K
            .pile-icon
            .pile-value 2500

          .player-card.type-center-right.direction-right
            .player-name Username
            .player-credits 1 000K
            .pile-icon
            .pile-value 2500

          .player-card.type-up-right.direction-right
            .player-name Dmitry Vislov
            .player-credits 100 000K
            .pile-icon
            .pile-value 2500

      include shared/footer
