doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header

      .play-table-global

        .play-table
          .playcard-slots
            .playcard-slot
              .playcard.playcard-middle.playcard-trefle K
            .playcard-slot
              .playcard.playcard-middle.playcard-hearts A
            .playcard-slot
            .playcard-slot
            .playcard-slot

      include shared/footer
