doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header

      .play-table-global

        .play-table
          .playcard-slots
            .playcard-slot
              .playcard.playcard-middle.playcard-trefle A
            .playcard-slot
              .playcard.playcard-middle.playcard-hearts K
            .playcard-slot
            .playcard-slot
            .playcard-slot

          .pile(style="left: 340px; top: 270px;")
            .pile-icon
            .pile-value 2500
          .pile(style="left: 250px; top: 110px;")
            .pile-icon
            .pile-value 1500
          .pile(style="left: 490px; top: 110px;")
            .pile-icon
            .pile-value 500

          .player-card.type-up.direction-left
            .pile-icon
            .pile-value 2500

          .player-card.type-up-left.direction-left
            .pile-icon
            .pile-value 2500

          .player-card.type-center-left.direction-left
            .pile-icon
            .pile-value 2500

          .player-card.type-bottom-left.direction-left
            .pile-icon
            .pile-value 2500

          .player-card.type-bottom-center-left.direction-left
            .pile-value 0

          .player-card.type-bottom-center-right

          .player-card.type-bottom-right.direction-right
            .pile-icon
            .pile-value 2500

          .player-card.type-center-right.direction-right
            .pile-icon
            .pile-value 2500

          .player-card.type-up-right.direction-right
            .pile-icon
            .pile-value 2500

      include shared/footer
