doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header

      .play-table-global

        .play-table
          .playcard-slots
            .playcard-slot
              .playcard.playcard-middle.playcard-trefle A
            .playcard-slot
              .playcard.playcard-middle.playcard-hearts K
            .playcard-slot
            .playcard-slot
            .playcard-slot

          .player-card.type-up-left
          .player-card.type-center-left
          .player-card.type-bottom-left
          .player-card.type-bottom-center-left
          .player-card.type-bottom-center-right
          .player-card.type-bottom-right
          .player-card.type-center-right
          .player-card.type-up-right

      include shared/footer
