doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header

      .play-table-global

        .play-table
          .playcard-slots
            .playcard-slot
              .playcard.playcard-middle.playcard-trefle A
            .playcard-slot
              .playcard.playcard-middle.playcard-hearts K
            .playcard-slot
            .playcard-slot
            .playcard-slot


          .pile(style="left: 340px; top: 270px;")
            .pile-icon
            .pile-value 2500
          .pile(style="left: 250px; top: 110px;")
            .pile-icon
            .pile-value 1500
          .pile(style="left: 490px; top: 110px;")
            .pile-icon
            .pile-value 500


          .player-card-wrap.type-up
            .player-card.direction-left
              .player-avatar
                .no-avatar
              .player-name Denis Panfilov
              .player-credits 1 000K
              .pile-icon
              .pile-value 2500

          .player-card-wrap.type-up-left
            .player-card.direction-left
              .player-avatar
                img(src="http://lorempixel.com/60/60")
              .player-name Max Kharchenko
              .player-credits 15 000K
              .pile-icon
              .pile-value 2500
            .player-hidden-cards

          .player-card-wrap.type-center-left
            .player-card.direction-left
              .player-avatar
                .no-avatar
              .player-name James Bond
              .player-credits 3 500K
              .pile-icon
              .pile-value 2500
            .player-hidden-cards

          .player-card-wrap.type-bottom-left
            .player-card.direction-left
              .player-avatar
                .no-avatar
              .player-name Dr.Lecter
              .player-credits 10 500K
              .pile-icon
              .pile-value 2500
            .player-hidden-cards

          .player-card-wrap.type-bottom-center-left
            .player-card.direction-left
              .player-avatar
                img(src="http://lorempixel.com/61/61")
              .player-name Breat Maverick
              .player-credits 7 500K
              .pile-value 0

          .player-card-wrap.type-bottom-center-right
            .player-card.direction-right
              .player-avatar
                .join-game
              .join-text Join

          .player-card-wrap.type-bottom-right
            .player-card.direction-right
              .player-avatar
                img(src="http://lorempixel.com/62/62")
              .player-name Marge Simpson
              .player-credits 17 500K
              .pile-icon
              .pile-value 2500
            .player-hidden-cards

          .player-card-wrap.type-center-right
            .player-card.direction-right
              .player-avatar
                .no-avatar
              .player-name Username
              .player-credits 1 000K
              .pile-icon
              .pile-value 2500

          .player-card-wrap.type-up-right
            .player-card.direction-right
              .player-avatar
                img(src="http://lorempixel.com/63/63")
              .player-name Dmitry Vislov
              .player-credits 100 000K
              .pile-icon
              .pile-value 2500
            .player-hidden-cards

      include shared/footer
