header
  .poker-row

    nav.pull-left
      ul
        li
          a.header-button(href="javascript:void(0);")
            span Back to lobby
        li
          a.header-button(href="javascript:void(0);")
            span Sit out
        li
          .icon-header-time
          span 12:00

    nav.pull-right
      ul
        li
          a.header-button.header-button-fill(href="javascript:void(0);")
            span Add chips
        li
          a.header-button(href="javascript:void(0);")
            span History
        li
          span.header-chat-link Chat
          .icon-header-chat 2

    nav.user-header-panel
      ul
        li
          .icon-header-chip
          span Marge Simpson
        li
          .icon-header-credits
          span 30 000 K
