header
  height 40px
  position fixed
  z-index 100
  width 100%
  background #0d0d0d
  color #bbbbbb

  ul
    margin 0
    padding 0
    list-style-type: none

  li
    display inline-block
    margin 4px 8px 0

  a
    text-decoration none
    color #bbbbbb
    display inline-block

.header-button
  border: 1px solid #f5a623
  border-radius 15px
  padding 6px 16px 6px

.header-button-fill
  color #000
  background #f5a623

.user-header-panel
  margin 0 auto
  text-align center
  li
    margin-top 6px

.header-chat-link
  color #f5a623

[class^="icon-header-"]
  display inline-block
  vertical-align middle

.icon-header-time
  sprite($header-time)
  margin-right 6px
.icon-header-chat
  sprite($header-chat)
  margin-left 10px
  text-align center
  color #000
  padding-top 2px
.icon-header-chip
  sprite($header-chip)
  margin-right 4px
.icon-header-credits
  sprite($header-credits)
  margin-right 10px

