*
  box-sizing: border-box

body
  background #635e5d
  min-width 1024px
  min-height 768px
  font-family Arial
  font-size 14px

.poker-row
  margin 0 auto
  max-width 1600px

.pull-left
  float left !important

.pull-right
  float right !important
