*
  box-sizing: border-box

html
body
  height 100%

body
  background #635e5d
  font-family Arial
  font-size 14px

.main
  min-width 1024px
  min-height 768px
  height 100%
  padding 0 0 124px

.poker-row
  margin 0 auto
  max-width 1600px
  min-width 1024px
  position relative

.pull-left
  float left !important

.pull-right
  float right !important
