.player-card
  width 185px
  height 60px
  position absolute
  z-index 10
  border-radius 8px
  background-clip padding-box
  box-shadow inset 0 -2px 2px 0 #211311
  background linear-gradient(bottom, #573227 0%, #573227 4.08%, #3d2721 7.15%, #28130d 100%)
  &.type-up
    left 333px
    top -12px
  &.type-up-left
    left 0px
    top 29px
  &.type-center-left
    left -41px
    top 169px
  &.type-bottom-left
    left 0
    top 308px
  &.type-bottom-center-left
    left 208px
    top 408px
  &.type-bottom-center-right
    right 208px
    top 408px
  &.type-bottom-right
    right 0
    top 308px
  &.type-center-right
    right -41px
    top 169px
  &.type-up-right
    right 0
    top 28px

.pile-icon
  sprite($pile)
  position absolute
.pile-value
  color #fff
  font-size 16px
  text-shadow 0 1px 2px rgba(0,0,0,.5)
  position absolute

.direction-left
  .pile-icon
    right -2px
    top -13px
  .pile-value
    right 6px
    bottom 4px

.direction-right
  .pile-icon
    left 6px
    top -13px
  .pile-value
    left 6px
    bottom 4px

.pile
  position absolute
  .pile-value
    position absolute
    left 50px
    top 20px

.player-name
  text-align center
  font-size 14px
  color #bbb
  padding-top 2px
  margin 0 50px
  height 36px
