.player-card-wrap
  width 185px
  height 60px
  position absolute
  z-index 10
  &.type-up
    left 333px
    top -12px
  &.type-up-left
    left 0px
    top 29px
  &.type-center-left
    left -41px
    top 169px
  &.type-bottom-left
    left 0
    top 308px
  &.type-bottom-center-left
    left 208px
    top 408px
  &.type-bottom-center-right
    right 208px
    top 408px
  &.type-bottom-right
    right 0
    top 308px
  &.type-center-right
    right -41px
    top 169px
  &.type-up-right
    right 0
    top 28px
.player-card
  width 185px
  height 60px
  position absolute
  z-index 15
  border-radius 8px
  background-clip padding-box
  box-shadow inset 0 -2px 2px 0 #211311
  background linear-gradient(bottom, #573227 0%, #573227 4.08%, #3d2721 7.15%, #28130d 100%)

.pile-icon
  sprite($pile)
  position absolute
.pile-value
  color #fff
  font-size 16px
  text-shadow 0 1px 2px rgba(0,0,0,.5)
  position absolute

.direction-left
  .pile-icon
    right -2px
    top -13px
  .pile-value
    right 6px
    bottom 4px

.direction-right
  .pile-icon
    left 6px
    top -13px
  .pile-value
    left 6px
    bottom 4px

.pile
  position absolute
  .pile-value
    position absolute
    left 50px
    top 20px

.player-name
  text-align center
  font-size 14px
  color #bbb
  padding-top 2px
  margin 0 50px
  height 40px

.player-credits
  text-align center
  color #d5933c

.player-avatar
  position absolute
  width 60px
  height 60px
  border-radius 30px
  background-clip padding-box
  background-color #332d29
  box-shadow 0 0 0 2px rgba(0,0,0,.2)
  border: 2px solid #000
  overflow hidden
  .no-avatar
    sprite($no-avatar)
    margin 5px 8px 0
  .join-game
    sprite($join-game)
    margin 6px 0 0 14px
.direction-left
  .player-avatar
    left -18px
    top 0px
.direction-right
  .player-avatar
    right -18px
    top 0px

.join-text
  text-align center
  color #bbb
  text-transform uppercase
  font-size 24px
  line-height 60px
  position relative
  left -10px

.player-hidden-cards
  sprite($player-hidden-cards)
  position relative
  z-index 11
  left 60px
  top -30px

.player-visible-cards
  position absolute
  z-index 20
  left 60px
  top -10px
  .playcard
    display inline-block

.is-dealer
  position absolute
  z-index 20
  top 16px
  sprite($is-dealer)
.direction-left
  .is-dealer
    left -42px
.direction-right
  .is-dealer
    right -42px

.player-card-active
  .player-avatar
    border-color #ffcc00
  &:after
    content ''
    sprite($header-chip)
    position absolute
    z-index 18
    top 16px
  &.direction-left
    &:after
      left -24px
  &.direction-right
    &:after
      right -24px

.player-state
  font-size 18px
  color #fff
  display inline-block
  width 70px
  text-align center
  height 26px
  border-radius 13px
  line-height 26px
  text-shadow 0 1px 2px rgba(0,0,0,.5)
  position absolute
  bottom -28px
  &.check
    background-color #000
  &.raise
    background-color #e72e00
  &.fold
    background-color #333131
    font-size 14px
.direction-left
  .player-state
    left -22px
.direction-right
  .player-state
    right -22px

.player-alert
  width 200px
  padding 16px
  font-size 12px
  border-radius 16px
  background-clip padding-box
  background rgba(15,15,14, 0.9)
  color #fff
  position absolute
  left 0
  top 61px
