/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$footer-rate-minus_x = 145px;
$footer-rate-minus_y = 0px;
$footer-rate-minus_offset_x = -145px;
$footer-rate-minus_offset_y = 0px;
$footer-rate-minus_width = 33px;
$footer-rate-minus_height = 34px;
$footer-rate-minus_total_width = 178px;
$footer-rate-minus_total_height = 137px;
$footer-rate-minus_image = '../images/sprite.png';
$footer-rate-minus = 145px 0px -145px 0px 33px 34px 178px 137px '../images/sprite.png';
$footer-rate-plus_x = 145px;
$footer-rate-plus_y = 44px;
$footer-rate-plus_offset_x = -145px;
$footer-rate-plus_offset_y = -44px;
$footer-rate-plus_width = 33px;
$footer-rate-plus_height = 32px;
$footer-rate-plus_total_width = 178px;
$footer-rate-plus_total_height = 137px;
$footer-rate-plus_image = '../images/sprite.png';
$footer-rate-plus = 145px 44px -145px -44px 33px 32px 178px 137px '../images/sprite.png';
$footer-shevron-down_x = 145px;
$footer-shevron-down_y = 86px;
$footer-shevron-down_offset_x = -145px;
$footer-shevron-down_offset_y = -86px;
$footer-shevron-down_width = 13px;
$footer-shevron-down_height = 8px;
$footer-shevron-down_total_width = 178px;
$footer-shevron-down_total_height = 137px;
$footer-shevron-down_image = '../images/sprite.png';
$footer-shevron-down = 145px 86px -145px -86px 13px 8px 178px 137px '../images/sprite.png';
$header-chat_x = 37px;
$header-chat_y = 110px;
$header-chat_offset_x = -37px;
$header-chat_offset_y = -110px;
$header-chat_width = 25px;
$header-chat_height = 25px;
$header-chat_total_width = 178px;
$header-chat_total_height = 137px;
$header-chat_image = '../images/sprite.png';
$header-chat = 37px 110px -37px -110px 25px 25px 178px 137px '../images/sprite.png';
$header-chip_x = 0px;
$header-chip_y = 110px;
$header-chip_offset_x = 0px;
$header-chip_offset_y = -110px;
$header-chip_width = 27px;
$header-chip_height = 27px;
$header-chip_total_width = 178px;
$header-chip_total_height = 137px;
$header-chip_image = '../images/sprite.png';
$header-chip = 0px 110px 0px -110px 27px 27px 178px 137px '../images/sprite.png';
$header-credits_x = 72px;
$header-credits_y = 110px;
$header-credits_offset_x = -72px;
$header-credits_offset_y = -110px;
$header-credits_width = 22px;
$header-credits_height = 22px;
$header-credits_total_width = 178px;
$header-credits_total_height = 137px;
$header-credits_image = '../images/sprite.png';
$header-credits = 72px 110px -72px -110px 22px 22px 178px 137px '../images/sprite.png';
$header-time_x = 104px;
$header-time_y = 110px;
$header-time_offset_x = -104px;
$header-time_offset_y = -110px;
$header-time_width = 20px;
$header-time_height = 20px;
$header-time_total_width = 178px;
$header-time_total_height = 137px;
$header-time_image = '../images/sprite.png';
$header-time = 104px 110px -104px -110px 20px 20px 178px 137px '../images/sprite.png';
$hearts-card-big_x = 0px;
$hearts-card-big_y = 0px;
$hearts-card-big_offset_x = 0px;
$hearts-card-big_offset_y = 0px;
$hearts-card-big_width = 63px;
$hearts-card-big_height = 100px;
$hearts-card-big_total_width = 178px;
$hearts-card-big_total_height = 137px;
$hearts-card-big_image = '../images/sprite.png';
$hearts-card-big = 0px 0px 0px 0px 63px 100px 178px 137px '../images/sprite.png';
$trefle-card-big_x = 73px;
$trefle-card-big_y = 0px;
$trefle-card-big_offset_x = -73px;
$trefle-card-big_offset_y = 0px;
$trefle-card-big_width = 62px;
$trefle-card-big_height = 100px;
$trefle-card-big_total_width = 178px;
$trefle-card-big_total_height = 137px;
$trefle-card-big_image = '../images/sprite.png';
$trefle-card-big = 73px 0px -73px 0px 62px 100px 178px 137px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
