/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$header-chat_x = 37px;
$header-chat_y = 0px;
$header-chat_offset_x = -37px;
$header-chat_offset_y = 0px;
$header-chat_width = 25px;
$header-chat_height = 25px;
$header-chat_total_width = 62px;
$header-chat_total_height = 59px;
$header-chat_image = '../images/sprite.png';
$header-chat = 37px 0px -37px 0px 25px 25px 62px 59px '../images/sprite.png';
$header-chip_x = 0px;
$header-chip_y = 0px;
$header-chip_offset_x = 0px;
$header-chip_offset_y = 0px;
$header-chip_width = 27px;
$header-chip_height = 27px;
$header-chip_total_width = 62px;
$header-chip_total_height = 59px;
$header-chip_image = '../images/sprite.png';
$header-chip = 0px 0px 0px 0px 27px 27px 62px 59px '../images/sprite.png';
$header-credits_x = 0px;
$header-credits_y = 37px;
$header-credits_offset_x = 0px;
$header-credits_offset_y = -37px;
$header-credits_width = 22px;
$header-credits_height = 22px;
$header-credits_total_width = 62px;
$header-credits_total_height = 59px;
$header-credits_image = '../images/sprite.png';
$header-credits = 0px 37px 0px -37px 22px 22px 62px 59px '../images/sprite.png';
$header-time_x = 32px;
$header-time_y = 37px;
$header-time_offset_x = -32px;
$header-time_offset_y = -37px;
$header-time_width = 20px;
$header-time_height = 20px;
$header-time_total_width = 62px;
$header-time_total_height = 59px;
$header-time_image = '../images/sprite.png';
$header-time = 32px 37px -32px -37px 20px 20px 62px 59px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
