/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$footer-rate-minus_x = 205px;
$footer-rate-minus_y = 128px;
$footer-rate-minus_offset_x = -205px;
$footer-rate-minus_offset_y = -128px;
$footer-rate-minus_width = 33px;
$footer-rate-minus_height = 34px;
$footer-rate-minus_total_width = 319px;
$footer-rate-minus_total_height = 232px;
$footer-rate-minus_image = '../images/sprite.png';
$footer-rate-minus = 205px 128px -205px -128px 33px 34px 319px 232px '../images/sprite.png';
$footer-rate-plus_x = 0px;
$footer-rate-plus_y = 200px;
$footer-rate-plus_offset_x = 0px;
$footer-rate-plus_offset_y = -200px;
$footer-rate-plus_width = 33px;
$footer-rate-plus_height = 32px;
$footer-rate-plus_total_width = 319px;
$footer-rate-plus_total_height = 232px;
$footer-rate-plus_image = '../images/sprite.png';
$footer-rate-plus = 0px 200px 0px -200px 33px 32px 319px 232px '../images/sprite.png';
$footer-shevron-down_x = 299px;
$footer-shevron-down_y = 94px;
$footer-shevron-down_offset_x = -299px;
$footer-shevron-down_offset_y = -94px;
$footer-shevron-down_width = 13px;
$footer-shevron-down_height = 8px;
$footer-shevron-down_total_width = 319px;
$footer-shevron-down_total_height = 232px;
$footer-shevron-down_image = '../images/sprite.png';
$footer-shevron-down = 299px 94px -299px -94px 13px 8px 319px 232px '../images/sprite.png';
$header-chat_x = 43px;
$header-chat_y = 200px;
$header-chat_offset_x = -43px;
$header-chat_offset_y = -200px;
$header-chat_width = 25px;
$header-chat_height = 25px;
$header-chat_total_width = 319px;
$header-chat_total_height = 232px;
$header-chat_image = '../images/sprite.png';
$header-chat = 43px 200px -43px -200px 25px 25px 319px 232px '../images/sprite.png';
$header-chip_x = 289px;
$header-chip_y = 124px;
$header-chip_offset_x = -289px;
$header-chip_offset_y = -124px;
$header-chip_width = 27px;
$header-chip_height = 27px;
$header-chip_total_width = 319px;
$header-chip_total_height = 232px;
$header-chip_image = '../images/sprite.png';
$header-chip = 289px 124px -289px -124px 27px 27px 319px 232px '../images/sprite.png';
$header-credits_x = 78px;
$header-credits_y = 200px;
$header-credits_offset_x = -78px;
$header-credits_offset_y = -200px;
$header-credits_width = 22px;
$header-credits_height = 22px;
$header-credits_total_width = 319px;
$header-credits_total_height = 232px;
$header-credits_image = '../images/sprite.png';
$header-credits = 78px 200px -78px -200px 22px 22px 319px 232px '../images/sprite.png';
$header-time_x = 299px;
$header-time_y = 64px;
$header-time_offset_x = -299px;
$header-time_offset_y = -64px;
$header-time_width = 20px;
$header-time_height = 20px;
$header-time_total_width = 319px;
$header-time_total_height = 232px;
$header-time_image = '../images/sprite.png';
$header-time = 299px 64px -299px -64px 20px 20px 319px 232px '../images/sprite.png';
$hearts-card-big_x = 72px;
$hearts-card-big_y = 0px;
$hearts-card-big_offset_x = -72px;
$hearts-card-big_offset_y = 0px;
$hearts-card-big_width = 63px;
$hearts-card-big_height = 100px;
$hearts-card-big_total_width = 319px;
$hearts-card-big_total_height = 232px;
$hearts-card-big_image = '../images/sprite.png';
$hearts-card-big = 72px 0px -72px 0px 63px 100px 319px 232px '../images/sprite.png';
$hearts-card-middle_x = 60px;
$hearts-card-middle_y = 110px;
$hearts-card-middle_offset_x = -60px;
$hearts-card-middle_offset_y = -110px;
$hearts-card-middle_width = 50px;
$hearts-card-middle_height = 80px;
$hearts-card-middle_total_width = 319px;
$hearts-card-middle_total_height = 232px;
$hearts-card-middle_image = '../images/sprite.png';
$hearts-card-middle = 60px 110px -60px -110px 50px 80px 319px 232px '../images/sprite.png';
$hearts-card-small_x = 205px;
$hearts-card-small_y = 0px;
$hearts-card-small_offset_x = -205px;
$hearts-card-small_offset_y = 0px;
$hearts-card-small_width = 34px;
$hearts-card-small_height = 54px;
$hearts-card-small_total_width = 319px;
$hearts-card-small_total_height = 232px;
$hearts-card-small_image = '../images/sprite.png';
$hearts-card-small = 205px 0px -205px 0px 34px 54px 319px 232px '../images/sprite.png';
$join-game_x = 249px;
$join-game_y = 124px;
$join-game_offset_x = -249px;
$join-game_offset_y = -124px;
$join-game_width = 30px;
$join-game_height = 40px;
$join-game_total_width = 319px;
$join-game_total_height = 232px;
$join-game_image = '../images/sprite.png';
$join-game = 249px 124px -249px -124px 30px 40px 319px 232px '../images/sprite.png';
$no-avatar_x = 249px;
$no-avatar_y = 64px;
$no-avatar_offset_x = -249px;
$no-avatar_offset_y = -64px;
$no-avatar_width = 40px;
$no-avatar_height = 50px;
$no-avatar_total_width = 319px;
$no-avatar_total_height = 232px;
$no-avatar_image = '../images/sprite.png';
$no-avatar = 249px 64px -249px -64px 40px 50px 319px 232px '../images/sprite.png';
$pile_x = 120px;
$pile_y = 110px;
$pile_offset_x = -120px;
$pile_offset_y = -110px;
$pile_width = 47px;
$pile_height = 56px;
$pile_total_width = 319px;
$pile_total_height = 232px;
$pile_image = '../images/sprite.png';
$pile = 120px 110px -120px -110px 47px 56px 319px 232px '../images/sprite.png';
$playcard-slot_x = 0px;
$playcard-slot_y = 110px;
$playcard-slot_offset_x = 0px;
$playcard-slot_offset_y = -110px;
$playcard-slot_width = 50px;
$playcard-slot_height = 80px;
$playcard-slot_total_width = 319px;
$playcard-slot_total_height = 232px;
$playcard-slot_image = '../images/sprite.png';
$playcard-slot = 0px 110px 0px -110px 50px 80px 319px 232px '../images/sprite.png';
$player-hidden-cards_x = 249px;
$player-hidden-cards_y = 0px;
$player-hidden-cards_offset_x = -249px;
$player-hidden-cards_offset_y = 0px;
$player-hidden-cards_width = 70px;
$player-hidden-cards_height = 54px;
$player-hidden-cards_total_width = 319px;
$player-hidden-cards_total_height = 232px;
$player-hidden-cards_image = '../images/sprite.png';
$player-hidden-cards = 249px 0px -249px 0px 70px 54px 319px 232px '../images/sprite.png';
$trefle-card-big_x = 0px;
$trefle-card-big_y = 0px;
$trefle-card-big_offset_x = 0px;
$trefle-card-big_offset_y = 0px;
$trefle-card-big_width = 62px;
$trefle-card-big_height = 100px;
$trefle-card-big_total_width = 319px;
$trefle-card-big_total_height = 232px;
$trefle-card-big_image = '../images/sprite.png';
$trefle-card-big = 0px 0px 0px 0px 62px 100px 319px 232px '../images/sprite.png';
$trefle-card-middle_x = 145px;
$trefle-card-middle_y = 0px;
$trefle-card-middle_offset_x = -145px;
$trefle-card-middle_offset_y = 0px;
$trefle-card-middle_width = 50px;
$trefle-card-middle_height = 80px;
$trefle-card-middle_total_width = 319px;
$trefle-card-middle_total_height = 232px;
$trefle-card-middle_image = '../images/sprite.png';
$trefle-card-middle = 145px 0px -145px 0px 50px 80px 319px 232px '../images/sprite.png';
$trefle-card-small_x = 205px;
$trefle-card-small_y = 64px;
$trefle-card-small_offset_x = -205px;
$trefle-card-small_offset_y = -64px;
$trefle-card-small_width = 34px;
$trefle-card-small_height = 54px;
$trefle-card-small_total_width = 319px;
$trefle-card-small_total_height = 232px;
$trefle-card-small_image = '../images/sprite.png';
$trefle-card-small = 205px 64px -205px -64px 34px 54px 319px 232px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
